@media  screen and (min-width:32.5rem) {
    body{
        font-size: 1.2rem;
    }
    header{
        display: grid;
        grid-template-columns: 1fr auto;
    }
    h2{
        color: var(--primary-color);
    }   
    
    .logo{
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }
    
    nav ul{
        display: flex;
        justify-content: space-evenly; 
    }

    #hambMenu {
		display: none; /* hide hamburger button */
	}
    
    main{
        max-width: 60%;
    }

    .temple-card{
        width: 280px;
    }
    .temple-card img {
        height: 150px;
    }
}