@media screen and (min-width:512px) {
    .weather img{
        width: 50px;
    }
    .card{
        font-size:.9rem;
    }
}

@media screen and (min-width:769px) {
    h2{
        background-color:var(--secondary-color);
        color:white;
        z-index:2;
        margin:1rem 2rem 0 -1rem;
    }
    /* Hero image positioned like a full background */
    .hero {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Puts it behind everything */
        overflow: hidden;
    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Makes it behave like a background image */
    }

    /* Make content sit on top */
    main {
        position: relative;
        z-index: 1;
        padding: 2rem;
        height:75vh;
        max-width: 1400px;
        margin: 0 auto;
    }

    .content{
        display: flex;
        justify-content: space-between;
    }

    .card{
        background: var(--tertiary-color);
        opacity:.85;
        z-index: 100;
        width: 25%;
        height: fit-content;
        font-size: 1rem;
    }
    
    .weather{
        margin-top: 20%;
    }
    
    .weather img{
        display: none;
    }

    .weather h2::after{
        content: "⛅";
    }
    .card:first-child{
    border-bottom: none;
}
}